<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hola gargola</title>
</head>
<body>
    <header class="encabezado">
        <nav class="menu">
            <div>
                <img src="im/RL.png" alt="logo" class="logo">
            </div>
    
            <div class="barra">
                <ul class="menu-horizontal">
                    <li><a href="esole.html">Vuelve al inicio</a></li>
                    <li>
                        <a href="esole.html">inscripción</a>
                        <ul class="menu-vertical">
                            <li><a href="https://forms.gle/qYtmYsHZeRb7onz68">Formulario</a></li>
                        </ul>
                    </li>
                        <li><a href="Inicia_sesión.html">Inicia sesión</a></li>
                </ul>
            </div>
        </nav>
    <br>
    <br>
        <div class="header-contenido container">
            <div class="header-txt">
                <h1>PROGRAMA ADMINISTRACIÓN DE ALIMENTOS</h1>
                <p>(PAA)</p>
            </div>
        </div>
      </header>

      <section>
        <h1>
            Contenido
          </h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing 
            elit. Esse, sit inventore. Saepe labore temporibus 
            aliquid, aperiam hic dolorem illo minus fugit architecto 
            consequatur 
            numquam reiciendis quaerat incidunt assumenda at ex.
        </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                elit. Esse, sit inventore. Saepe labore temporibus 
                aliquid, aperiam hic dolorem illo minus fugit architecto 
                consequatur 
                numquam reiciendis quaerat incidunt assumenda at ex.
            </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                    elit. Esse, sit inventore. Saepe labore temporibus 
                    aliquid, aperiam hic dolorem illo minus fugit architecto 
                    consequatur 
                    numquam reiciendis quaerat incidunt assumenda at ex.
                </p>
      </section>

      <section>
        <h1>
            Imágenes
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Repudiandae ad pariatur quia officiis eos placeat
            , neque ducimus asperiores! Voluptates, 
            temporibus facilis natus voluptatibus laboriosam 
            velit ex voluptate repudiandae. Culpa, laboriosam.
        </p>
      </section>

      <section>
        <h1>ventajas y desvenajas</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Numquam, consectetur. Amet dolorem excepturi nesciunt 
            inventore nam. Sit asperiores exercitationem beatae 
            doloribus quasi, impedit 
            tenetur possimus officiis sequi, facilis architecto alias.
        </p>
      </section>

      <section>
        <h1>Conclusión</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sapiente expedita deleniti dignissimos voluptas 
            reiciendis ex perspiciatis, eligendi tempore. 
            Eius quos perspiciatis ab adipisci
             nam non odio repellendus laboriosam rerum
              deleniti.
        </p>
      </section>

      <footer class="pie_de_pagina">
        <div class="container">
            <div class="footer-link">
                <div class="img">
                    <img src="im/AA.png" alt="logo" class="logoa">
                    <img src="im/lola.jpg" alt="lola" class="lola">
                    <img src="im/go.png"  alt="gobierno" class="gobierno">
                </div>
                <div class="link">
                    <h4>Compañía</h4> 
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nosotros</a></li>
                    </ul>
                </div>
                <div class="link">
                    <h4>Compañía</h4> 
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nosotros</a></li>
                    </ul>
                </div>
                <div class="link">
                    <h4>Queja</h4>
                    <ul>
                        <li><a href="#">Inquietudes</a></li>
                    </ul>
                </div>
            </div>
        
        </div>   
    </footer>
</body>
</html>
