{% extends 'layout.html' %}
{% block title %}complemento{% endblock %}
{% block title_h1 %}complemento{% endblock %}

{% block body %}
 <section>
    <h1>
        Contenido
        </h1>
        <p>
            parrafo 1
    </p>
        <p>
            Parrafo 2.
        </p>
            <p>
                parrafo 3
            </p>
    </section>

    <section>
    <h1>
        Imágenes
    </h1>
    <p>
      parrafo 1
    </p>
    </section>

    <section>
    <h1>ventajas y desvenajas</h1>
    <p>
       parrafo 1
    </p>
    </section>

    <section>
    <h1>Conclusión</h1>
    <p>
       parrafo 1
    </p>
    </section>
{% endblock %}
     
     
