<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <header class="encabezado">
        <nav class="menu">
            <div>
                <img src="im/RL.png" alt="logo" class="logo">
            </div>
    
            <div class="barra">
                <ul class="menu-horizontal">
                    <li><a href="main_html.html">Vuelve al inicio</a></li>
                    <li>
                        <a href="main_html.html">inscripción</a>
                        <ul class="menu-vertical">
                            <li><a href="Formulario.html">Formulario</a></li>
                        </ul>
                    </li>
                        <li><a href="Inicia_sesión.html">Inicia sesión</a></li>
                        <li><a href= "quejas.html">Quejas</a></li>
                </ul>
            </div>
        </nav>
    <br>
    <br>
        <div class="header-contenido container">
            <div class="header-txt">
                <h1>INICIA SESIÓN</h1>
                <p>... ;)</p>
            </div>
        </div>
      </header>
      <section class="formulario">
        <form name="Nuevo usuario" method="post"> 
           
            Nombre del estudiante:
            <br>
            <input type="text" name="Nombre" placeholder="Ingrese su nombre..." required>
            <br>
            Apellido:
            <br>
            <input type="text" name="Apellido" placeholder="Ingrese su apellido..." required>
            <br>
            Nikname:
           <br>
            <input type="text" name="Nikname" placeholder="Ingrese su Nikname..." required>
            <br>
           Contraseña:
           <br>
            <input type="password" name="Contraseña" placeholder="Ingrese su Contraseña..." required>
            <br>
        </form>
      </section>
      
      <footer class="pie_de_pagina">
        <div class="container">
            <div class="footer-link">
                <div class="img">
                    <img src="im/RL.png" alt="logo" class="logoa">
                    <img src="im/lola.jpg" alt="lola" class="lola">
                </div>
                <div class="link">
                    <h4>Compañía</h4> 
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nosotros</a></li>
                    </ul>
                </div>
                <div class="link">
                    <h4>Compañía</h4> 
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nosotros</a></li>
                    </ul>
                </div>
                <div class="link">
                    <h4>Queja</h4>
                    <ul>
                        <li><a href="#">Inquietudes</a></li>
                    </ul>
                </div>
            </div>
        
        </div>   
    </footer>
</body>
</html>