{% extends 'layout.html' %}
{% block title %}Iniciar Sesión{% endblock %}
{% block title_h1 %}Iniciar Sesión{% endblock %}

{% block body %}

    <section class="formulario">
    <form name="Nuevo usuario" method="post"> 
        
        Nombre del estudiante:
        <br>
        <input type="text" name="Nombre" placeholder="Ingrese su nombre..." required>
        <br>
        Apellido:
        <br>
        <input type="text" name="Apellido" placeholder="Ingrese su apellido..." required>
        <br>
        Nikname:
        <br>
        <input type="text" name="Nikname" placeholder="Ingrese su Nikname..." required>
        <br>
        Contraseña:
        <br>
        <input type="password" name="Contraseña" placeholder="Ingrese su Contraseña..." required>
        <br>
    </form>
    </section>
      
{% endblock %}