{% extends 'layout.html' %}

{% block title %}Refirgerios Lola{% endblock %}
{% block title_h1 %}Refirgerios Lola{% endblock %}

{% block body %}

   <section class="contenido1">
    <h1 >
        ¡Bienvenidos a Refrigerios Lola! Aquí podras ver qué alimentos entregan en la institución Lola Gonzalez. Esto es con el fin de
        que sepas cuál de los dos refirgerios escoger, si complemento o vaso de leche  
    </h1>
    <br>
      
    <br>
    <h2>   
        A continuación les vamos a mostrar los dos tipos de alimentos que entregan para que te decidas por el que maaaas te im-pac-tó. (recuerda que solo se escoge uno)
    </h2>
    <br>
        </section>
        <section class="contenido2">
        <h2>Vaso de leche</h2>
        <p>imagen...</p>
        <p>El vaso de leche... 
            en este lugar lo que buscamos es darle un 
            alimento ligero a los estudiantes con el cual 
            se sientan a gusto, en este lugar obtienen 
            bebidas lácteas variadas, tambien hay frutas, 
            y comidas como panes que ayudan a un balance 
            en el alimento de los estudiantes.
        </p>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Et eveniet numquam perferendis, possimus nobis soluta, eligendi 
        veritatis fugit sed libero eos, vel recusandae
        molestiae corrupti? Iste delectus repellat quod nulla?
        </p>
        <a href="{{url_for('main.vaso_de_leche')}}" class="btn-1">¿Qué es?</a>
        </section>
        <br>
        <br>
        <section class="contenido3">
            <h2>complemento</h2>
            <p>En el complemento preparado 
                los estudiantes obtienen comidas balanceadas
                 para el desarrollo de los estudiantes a lo 
                 largo de su etapa estudiantil. En este lugar,
                  se les da una comida balanceada en 
                  azucares, y calorias, etc.

            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Commodi in molestiae cupiditate quam provident, dolor 
                illum facere, suscipit minus quae repellendus autem odit 
                magni recusandae earum, laudantium vel aliquam aliquid.
                </p>
            <a href="{{url_for('main.complemento')}}" class="btn-2">¿Qué es?</a>
    </section>
{%endblock%}
        
